<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>Base</title>
  {% endblock %}
</head>
{% block navbar %}
<div style="background-color: #79aec8; margin-top: 1rem; margin-bottom: 1rem">
  <h4><a href="{% url 'main' %}">Main</a></h4>
  {% if request.user.is_authenticated %}
  <h4><a href="{% url 'logout' %}">Logout</a></h4>
  {% else %}
  <h4><a href="{% url 'login' %}">Login</a></h4>
  {% endif %}
</div>
{% endblock %}

{% block body %}
<body>

</body>
{% endblock %}

{% block footer %}
<footer style="background-color: #79aec8; margin-top: 1rem; margin-bottom: 1rem">
  <a href="mailto:feedback@k8s-secrets-service.mars">
    Feedback: feedback@k8s-secrets-service.mars
  </a>
</footer>
{% endblock %}
</html>