{% extends 'base.html' %}

{% block title %}
<title>Create secret</title>
{% endblock %}

{% block body %}
<body>
<h1>Create secret for your application</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label>Secret Name: <input type="text" name="secret_name" required></label>
    </div>
    <div>
        <label>Secret Key: <input type="text" name="secret_key" required></label>
    </div>
    <div>
        <label>Secret Value: <input type="text" name="secret_value" required></label>
    </div>
    <div>
        <label>Namespace: <input type="text" name="namespace" placeholder="possible value: development" required></label>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
{% endblock %}